target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

# VS Code Extension
advanced-coding-assistant-vscode/node_modules/
advanced-coding-assistant-vscode/dist/
advanced-coding-assistant-vscode/out/
advanced-coding-assistant-vscode/*.vsix
advanced-coding-assistant-vscode/.vscode-test/

# Ignore local properties file
application-local.properties

# Ignore Data folder for neo4j
data-neo4j/

# MacOS
.DS_Store
